name: ovo je bas super
on: 
  issues: 
    types: [closed]
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: github-update-readme
      uses: theboi/github-update-readme@v1.3.0
      env: 
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}} 
      with:
        header: "latest issue closed by ${{github.actor}}"
        
